1. What is Python, and why is it popular?
-> Python is a high-level, interpreted beginner friendly programming language known for its simplicity. It's popular because of its easy syntax, large standard library, and vast community. It's used in web development, data science, automation, AI, and more.

2. What is an interpreter in Python?
-> An interpreter executes Python code line by line, converting it into machine code so that computer can understand.

3. What are pre-defined keywords in Python?
-> keywords are reserved words that have special meaning in Python, such as if, else, for, while, def, etc.

4. Can keywords be used as variable names?
->  NO

5. What is immutability in Python?
-> Immutability means that the value of an object cannot be changed after it's created. For example, strings and tuples are immutable.

6. Why are lists mutable, but tuples are immutable?
-> Lists are mutable to allow dynamic modifications like adding or removing elements. Tuples are immutable to ensure data integrity and are often used for fixed collections of items.

7. What is the difference between == and is operators in Python?
-> '==' checks if the values of two variables are equal, while 'is' checks if they refer to the same object in memory.

8. What are logical operators in Python?
-> Logical operators include and, or, and not. They are used to combine conditional statements.

9. What is type casting in Python?
-> Type casting is converting a variable from one data type to another, like int(), float(), or str().

10. What is the difference between implicit and explicit type casting?

-> Implicit: Python automatically converts the data type (e.g., 3 + 4.5 results in 7.5).

Explicit: The programmer manually converts the type using functions like int() or str().

11. What is the purpose of conditional statements in Python?
-> Conditionlas statements are used to execute code based on the evaluation of one or more conditions.
conditionals can be used to handle multiple conditions & control branches of execution  based on the outcome of logical expressions.

12. How does the elif statement work?
-> elif stands for "else if" and is used to check multiple conditions. If the if condition is False, it checks the elif conditions.

13. What is the difference between for and while loops?

-> 'For' loops are used for iterating over a sequence of elements(like lists, strings, or ranges).

'while' loops are used for executing the code until a specified conditions becomes false and when the no of iterations is unknown.

14. Describe a scenario where a while loop is more suitable than a for loop.
-> When you need to keep prompting the user until they enter a valid input (e.g., a password or userd id), a while loop is more suitable because the number of iterations is unknown.

In [4]:
#Practical Question's Answers:
#1
print("Hello, World!")

Hello, World!

In [15]:
#2
name = "Rohan"
age = 22
print(name)
print(age)

Rohan
22

In [16]:
#3
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [20]:
#4
import keyword
word = input("word: ")
print(keyword.iskeyword(word))

word: rohan
False

In [23]:
#5
list=[1,2,3,4,5]
list[0]=7
print(list) #it will work and will show [7,2,3,4,5]

tuple=(1,2,3,4)
tuple[0]=6
print(tuple) # it will not work and will show error as tuples are immutable

[7, 2, 3, 4, 5]

TypeError: 'tuple' object does not support item assignment

In [29]:
from re import A
#6


A = [1, 2]
B = (1, 2)
modify_list(A)
modify_tuple(B)
print(A)
print(B)

def modify_list(l):
    l.append(15)

def modify_tuple(t):
    try:
        t[0] = 17
    except TypeError:
        print("Cannot modify a tuple")

Cannot modify a tuple
[1, 2, 15]
(1, 2)

In [33]:
#7
a=int(input("num1:"))
b=int(input("numb2:"))
print("sum:", a+b)
print("sum:", a*b)

num1:4
numb2:5
sum: 9
sum: 20

In [37]:
#8
a=True
b=False
print("a and b:", a and b)
print("a or b:", a or b)
print(" not b:",  not b)

a and b: False
a or b: True
 not b: True

In [44]:
#9
a=input("enter here")
print("integer:", int(a))
print("float:", float(a))
print("boolean:", bool(a))

enter here10
integer: 10
float: 10.0
boolean: True

In [69]:
#10
a = ['1', '2', '3']
a=[int(i)for i in a]
print(a)

[1, 2, 3]

In [79]:
#11
a=int(input("number:"))
if a > 0:
  print("positive",a)
elif a < 0:
    print("negative",a)
else:
      print("zero",a)

number:10
positive 10

In [85]:
#12
for i in range(1,11):
      print(i)

1
2
3
4
5
6
7
8
9
10

In [86]:
#13
total = 0
for i in range(1, 51):
    if i % 2 == 0:
        total += i
print("Sum:", total)

Sum: 650

In [99]:
s = input("Enter a string: ")
reversed_s = ""
i = len(s) - 1
while i >= 0:
    reversed_s += s[i]
    i -= 1
print("Reversed string:", reversed_s)

Enter a string: 10
Reversed string: 01

In [100]:
#15
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print("Factorial:", factorial)

Enter a number: 5
Factorial: 120